<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - InvoiceApp</title>
    <script type="importmap"></script>
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/InvoiceApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="flex h-screen flex-col bg-slate-700">
    <header class="bg-emerald-500 shadow">
        <div class="container mx-auto flex items-center justify-between py-3">
            <div class="flex-shrink-0">
                <a class="text-3xl font-bold" asp-area="" asp-controller="Home" asp-action="Index">InvoiceApp</a>
            </div>
            <nav class="flex flex-row space-x-9">
                <a class="text-2xl text-black hover:text-gray-700" asp-area="" asp-controller="Home"
                    asp-action="Index">Home</a>
                <a class="text-2xl text-black hover:text-gray-700" asp-area="" asp-controller="Invoice"
                    asp-action="Index">Invoice</a>
                <a class="text-2xl text-black hover:text-gray-700" asp-area="" asp-controller="Home"
                    asp-action="Privacy">Privacy</a>
            </nav>
        </div>
    </header>

    <div class="container mx-auto flex-1 text-white">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="block items-center bg-emerald-500 pb-5 text-center text-2xl text-black shadow">
        <div class="">
            &copy; 2025 - InvoiceApp - Airiel
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
