@{
    ViewData["Title"] = "Home Page";
    // ViewData["UserID"] = User.Identity.IsAuthenticated ? User.Identity.Name : "User ID";
}

<div class="flex h-96 items-center justify-center">
    <div class="container mx-auto flex flex-col items-center justify-center p-4 md:flex-row">
        <div class="w-full p-4 md:w-1/2">
            <h1 class="mb-4 text-6xl font-bold text-white">Welcome to Invoice App</h1>
            <p class="mb-4 text-lg text-white">Manage your invoices with ease.</p>
            <div class="flex justify-center md:justify-start">
                @* <a asp-action="Login" asp-controller="Account" *@
                @*     class="mr-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700">Sign In</a> *@
                @* <a asp-action="Register" asp-controller="Account" *@
                @*     class="rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-700">Sign Up</a> *@
                @if (!User.Identity.IsAuthenticated)
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="mr-4 rounded bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-700">Sign In</a>
                    <a asp-area="Identity" asp-page="/Account/Register" class="rounded bg-green-500 px-4 py-2 font-bold text-white hover:bg-green-700">Sign Up</a>
                }
                else
                {
                    @* <h1 class="mb-4 text-4xl font-bold text-white">Hey @ViewData["UserID"]</h1> *@
					<h1 class="mb-4 text-4xl font-semibold text-white">
						Hey @ViewData["UserID"] <br />
                        Start to manage your
                        <a asp-area="" asp-controller="Invoice"
                           asp-action="Index" class="text-blue-500">Invoices
                       </a>
                    </h1>
                }
            </div>
        </div>
        <div class="w-full p-4 text-center text-5xl md:w-1/2">
            <i class="fas fa-file-invoice fa-5x text-blue-500"></i>
        </div>
    </div>
</div>